header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
  }
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.active {
  color: #5a3af9;
  text-decoration: underline;
}