.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.landing-block img {
  max-width: 100%; /* Set maximum width to 100% of parent element */
  max-height: 100vh; /* Set maximum height to 100% of viewport height */
  width: auto; /* Allow the image to scale proportionally */
  height: auto; /* Allow the image to scale proportionally */
}
  
.landing-links {
  width: 100%;
  text-align: center;
}

button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
  }
}